.App{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  font-family: sans-serif;
}
.login{
  display:flex;
  flex-direction: column;
  gap: 20px;
}
.login input{
  padding:10px;
  border: none;
  border-bottom: 1px solid black;
}
.login button{
  padding:7px 10px
}